# 依赖
node_modules/
dist/
.pnp
.pnp.js

# 测试
coverage/

# 环境变量
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统
.DS_Store
Thumbs.db

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 其他
gh.zip
gh/